<!DOCTYPE html>
<html>

	<body>

		<% @posts.each do |post| %>
		<a href='/posts/<%= post.id %>'><%= post.name %></a>
		<ul><%= post.content %></ul>
		<% end %>

		<a href='/posts/new'>New Post!</a>
	
	</body>

</html>
