<!DOCTYPE html>
<html>

<body>
	<form action='/posts' method='POST'>
		<p>Name:<input type='text' name='post[name]'></p>
		<p>Content:<input type='text' name='post[content]'></p>
		<input type='submit' name='submit' value='SHARE! :-D'>
	</form>
</body>

</html>